body{
    background-image: url(https://miro.medium.com/v2/resize:fit:1024/0*Ss1WXHUea0oX9-Hu.gif);
}
#nav-link{
    color: black;
   }
#nav-link:hover{
       background-color: rgb(18, 129, 146);
       color: aliceblue;
       border-radius: 20px;
   }
.dropdown-item{
    background-color: #f0f5f4;
}
.dropdown-item:hover{
    background-color:#75eee6;
    border-radius: 20px;
    color: #fff9ee;
}
.formulario{
    width: 350px;
}
.row g-3{
 width: 350px;   
}
h2{
    text-align: center;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

}
.btn{
background-color: #75eee6;
border-radius: 20px;
color: rgb(22, 2, 65);
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}
.btn:hover{
    background-color:rgb(18, 129, 146);
    color: #fff9ee;}
    .form-control{
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        border-radius: 13px;
    }
.form-select{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius: 13px;
}
.form-check-input{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius: 13px;

}
